@use "../../styling/modules/mixins.scss";
@use "../../styling/partials/colors";
@use "../../styling/partials/media-queries" as mq;

.product {
  @include mixins.flex(column, center);
  align-items: center;
  gap: 30px;
  margin: 20px 0;
  @include mq.lg-up {
    @include mixins.flex(row, center);
    gap: 30px;
  }

  &__img {
    width: 80%;
    height: auto;

    @include mq.md-up {
      width: 60%;
      height: auto;
    }

    @include mq.lg-up {
      width: 40%;
      height: auto;
    }
  }

  &__text {
    width: 80%;

    @include mq.md-up {
      width: 60%;
    }

    @include mq.lg-up {
      width: 450px;
    }
  }

  &__bold {
    font-weight: 600;
  }

  &__add {
    all: unset;
    width: 100%;
    text-align: center;
    align-self: center;
    align-items: center;
    border-radius: 20px;
    border: solid 2px colors.$primary;
    height: 30px;
    margin: 10px 0;
    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }

    @include mq.md-up {
      width: 400px;
    }
  }
}

.variants {
  @include mixins.flex(row, flex-start);
  gap: 5px;
  margin-bottom: 15px;

  &__img {
    width: 80px;
    height: auto;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: colors.$primary;
    }
  }
}

.selected {
  border: 2px solid colors.$primary;
}

h4 {
  font-size: 2.2rem;
}
