@use "../../styling/partials/media-queries" as mq;

.productGrid {
  display: grid;
  padding: 40px;
  grid-column-gap: 15px;
  grid-row-gap: 5vh;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  @include mq.xxl-up {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}
