@use "../../styling/modules/mixins.scss";
@use "../../styling/partials/colors.scss";

.nav {
  @include mixins.flex(column, center);
  align-items: center;
  gap: 1.5em;

  &__links {
    @include mixins.flex(row, center);
    gap: 1.5em;
  }

  &__link {
    text-decoration: none;
    color: colors.$primary;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: colors.$primary;
      transition: width 0.4s;
      margin: auto;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }

  &__cart {
    color: colors.$primary;
    font-size: 1.3rem;

    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }
}

a:hover {
  text-decoration: none;
  color: colors.$primary;
}
