@use "../../styling/modules/mixins.scss";
@use "../../styling/partials/colors.scss";

.nav {
  @include mixins.flex(row, center);
  gap: 1.5em;
  //   margin-top: 20px;

  &__link {
    text-decoration: none;
    color: colors.$primary;
  }
}
