@use "../../styling/modules/mixins.scss";
@use "../../styling/partials/colors";
@use "../../styling/partials/media-queries" as mq;

.carousel {
  @include mixins.flex(column, center);
  align-items: center;
  position: relative;

  &__btn_wrapper {
    @include mixins.flex(row, space-between);
    width: 80%;
    position: absolute;
    @include mq.md-up {
      width: 50%;
    }
  }

  &__img {
    width: 80%;
    height: auto;
    z-index: 2;
    transition: ease-in-out 5s;
    @include mq.md-up {
      width: 50%;
    }
  }

  &__btn {
    all: unset;
    z-index: 3;
    // background-color: none;
    color: colors.$secondary;
  }
}
