@use "../../styling/modules/mixins.scss";
@use "../../styling/partials/media-queries" as mq;

.home {
  @include mixins.flex(column, center);
  align-items: center;
  gap: 10px;
  letter-spacing: 2px;
  font-weight: 600;

  &__text {
    text-align: center;
  }

  &__link {
    align-self: center;
    text-align: center;
    font-size: 1.3rem;
    border: 2px solid black;
    padding: 15px;
    &:hover {
      background-color: rgb(221, 214, 206);
      transition: 0.3s;
      cursor: pointer;
    }
  }
}
